* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  scroll-behavior: smooth;

  --clr-blue: rgb(117, 119, 196);
  --clr-dark-blue: rgb(65, 66, 109);
  --clr-light-gray: rgb(217, 217, 217);
  --clr-border-gray: rgb(94, 94, 94);
  --clr-white: rgb(255, 255, 255);
  --clr-green: rgb(123, 241, 123);

  --transition: .5s ease;
}

/* DRY */

section {
  padding-block: 1rem;
  border-bottom: 1px solid var(--clr-border-gray);
}

header,
.header-right {
  display: flex;
  align-items: center;
}

h1,
strong {
  font-size: 1.25rem;
}

.bell-icon,
.user-img {
  margin-right: .5rem;
}

.bell-icon,
.bell-icon + path,
a {
  cursor: pointer;
  transition: fill var(--transition);
}

.bell-icon:hover,
.bell-icon + path:hover {
  fill: var(--clr-green);
}

header,
nav {
  padding: .75rem;
}

.bold {
  font-weight: 700;
}

/* === HEADER === */

header {
  justify-content: space-between;
  width: 100vw;
  background-color: var(--clr-blue);
  color: var(--clr-white);
}

strong {
  font-weight: 700;
}

.bell-icon {
  width: 25px;
  margin-right: .75rem;
  fill: var(--clr-white);
}

#notification-dot {
  fill: var(--clr-green);
}

.user-img {
  width: 40px;
  border-radius: 50%;
}

.header-right p {
  font-size: .75rem;
}

/* === NAV === */

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: .5rem;
  background-color: var(--clr-dark-blue);
}

.nav-svg {
  fill: var(--clr-white);
  width: 30px;
  transition: fill var(--transition);
}

.nav-svg:hover {
  cursor: pointer;
  fill: var(--clr-green);
}

/* === DASHBOARD HEADER === */

.dash-header {
  display: flex;
  align-items: center;
  height: 3rem;
}

.headline {
  width: 30%;
  font-weight: 700;
  text-align: center;
}

.tab {
  width: 70%;
  height: 100%;
  background-color: var(--clr-light-gray);
  border-bottom-left-radius: 5px;
  border-left: 1px solid var(--clr-border-gray);
  border-bottom: 1px solid var(--clr-border-gray);
}

/* === ALERT === */
.alert {
  width: 90%;
  height: 3rem;
  margin: 1rem auto 1rem auto;
  background-color: var(--clr-blue);
  border-radius: 10px;
}

/* === CHARTS === */

.traffic,
.daily,
.mobile {
  padding-inline: 1rem;
}

h3 {
  letter-spacing: .05rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.traffic-nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: .5rem;
  list-style: none;
}

.traffic-nav-link {
  cursor: pointer;
  padding: .5rem;
  border-radius: 10px;
  transition: color var(--transition);
}

.traffic-nav-link:hover {
  color: var(--clr-green);
}

.active {
  background-color: var(--clr-green);
  color: white;
  text-shadow: 1px 1px 2px black;
}

canvas {
  width: 100%;
  margin-block: .5rem;
  background-color: black;
}

/* === SOCIALS === */

.social-container {
  padding-inline: 1rem;
}

.social-card {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--clr-light-gray);
  border-radius: 10px;
  border: 1px solid var(--clr-border-gray);
}

.social-img {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 2rem;
  border-radius: 50%;
  background-color: var(--clr-blue);
}

.social-img svg {
  z-index: 1;
  width: 30px;
  fill: var(--clr-white);
}

.social-text p:first-child {
  font-size: 1.25rem;
  color: var(--clr-blue);
}

.social-text p:last-child {
  font-size: 2rem;
  color: var(--clr-border-gray);
}

/* === NEW MEMBERS / RECENT ACTIVITIES == */

.members,
.recent-activity {
  padding-inline: 1rem;
}

.member-container,
.activity-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  text-align: center;
  border-bottom: 1px solid var(--clr-border-gray);
}

.member-container img,
.activity-container img {
  width: 75px;
  margin-bottom: .5rem;
  border-radius: 50%;
}

.member-text p {
  font-weight: 700;
}

.activity-container,
.member-container {
  padding-bottom: 1rem;
}

.member-container:last-of-type,
.activity-container:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

/* === MESSAGE == */

.message {
  padding-inline: 1rem;
  border-bottom: 1px solid var(--clr-border-gray);
}

.message-form {
  display: flex;
  flex-direction: column;
}

.message-form input,
.message-form textarea {
  margin-bottom: 1rem;
}

.user-search,
.message-field {
  padding-inline: 1rem;
  border-radius: 5px;
  border: 2px solid var(--clr-border-gray);
  background-color: var(--clr-light-gray);
}

.user-search {
  margin-top: 1rem;
  height: 2.5rem;
}

.message-field {
  padding-block: 1rem;
  height: 6rem;
}

.send-btn {
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  background-color: var(--clr-blue);
  color: var(--clr-white);
}

/* === SETTINGS == */

.settings,
.toggle-section {
  display: flex;
  flex-direction: column;
}

.settings {
  padding-inline: 1rem;
}

.toggle-section {
  margin-top: 1rem;
}

.toggle-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.toggle {
  -webkit-appearance: none;
  position: relative;
  width: 80px;
  height: 30px;
  border-radius: 25px;
  background-color: var(--clr-light-gray);
  transition: background-color var(--transition);
  outline: none;
  cursor: pointer;
}

.toggle::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-85%, -50%);
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  background-color: var(--clr-white);
  transition: left var(--transition);
}

.toggle:checked {
  background-color: var(--clr-blue);
}

.toggle:checked::after {
  left: 85%;
}

.timezone-select {
  height: 2.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 2px solid var(--clr-border-gray);
  background-color: var(--clr-light-gray);
}

.settings-buttons-div {
  display: flex;
  justify-content: space-between;
}

.cancel-btn,
.save-btn {
  height: 2.5rem;
  width: 48%;
  border-radius: 5px;
  border: none;
  color: var(--clr-white);
}

.save-btn {
  background-color: var(--clr-blue);
}

.cancel-btn {
  background-color: var(--clr-border-gray);
}